body {
    background: #EFEFEF;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}


/* [data-x].offset {
    transform: translateY(100px);
}

[data-x] {
    transform: translateY(0);
    transition: all 0.5s;
} */

.topNavBar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    color: #B7B7B7;
}

.topNavBar.sticky {
    background: white;
    padding: 10px 0;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: #3d4451;
}

.topNavBar-inner {
    padding-left: 16px;
    padding-right: 16px;
}

.topNavBar nav {
    padding-bottom: 1px;
    padding-top: 5px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
    position: relative;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: inherit;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    position: relative;
}

.topNavBar nav>ul>li.active>a::after,
.topNavBar nav>ul>li.highlight>a::after {
    /*border-bottom: 3px solid #DC6465;*/
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    /* background: #e06567; */
    background: #2688C4;
    height: 3px;
    animation: menuSlide 0.3s;
}

@keyframes menuSlide {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.topNavBar .submenu {
    display: none;
    position: absolute;
    right: -90px;
    top: 100%;
    background: #3d4451;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.topNavBar li.active>.submenu {
    display: block;
    animation: submenuSlide 0.3s;
}

@keyframes submenuSlide {
    0% {
        margin-right: 100%;
    }
    100% {
        margin-right: 0%;
    }
}

.topNavBar .submenu>li {
    white-space: nowrap;
    padding: 15px 20px;
}

.topNavBar .submenu>:nth-child(2) {
    border-top: 1px solid grey;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-bottom: 4px;
    padding-top: 3px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    /* color: #E6686A; */
    color: #2688C4;
}

.topNavBar .logo .card {
    margin-left: -2px;
    color: #9A9DA2;
}

.banner {
    height: 515px;
    background-image: url(./img/moon.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
}

.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    /*background-color: #E6686A;*/
    background: #2688C4;
    color: white;
    display: inline-block;
    padding: 5px 16px;
    line-height: 20px;
    position: relative;
    margin-bottom: 7px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    widows: 0px;
    /* border-left-color: #E6686A; */
    border-left-color: #2688C4;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .text h1 {
    margin-top: 15px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard .pictureAndText {
    padding: 50px 50px 30px 50px;
}

.userCard p {
    margin-top: 10px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard dl>dt>span.age,
.userCard dl>dt>span.email,
.userCard dl>dt>span.mobile {
    display: inline-block;
    margin-right: 30px;
}

.userCard>footer.media {
    /*background-color: #E6686A;*/
    background: #2688C4;
    text-align: center;
}

.userCard>footer.media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.userCard>footer.media>a:hover {
    /* background: #CF5D5F; */
    background: #007ACC;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

body>main {
    /*transform: translateY(-340px);*/
    margin-top: -340px;
}

body>main .downloadResumeWapper {
    text-align: center;
}

body>main .downloadResume {
    font-size: 18px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    background-color: #EFEFEF;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0px;
    transition: box-shadow 0.5s;
}

body>main .downloadResume:hover {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-family: kai;
    line-height: 1.8;
}

section.skills>.container-wrapper {
    height: 600px;
    margin: 0;
}

section.skills>.container-wrapper>#container {
    height: 100%;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills>h2,
section.portfolio>h2,
section.message>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.skills>ol {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
    overflow: hidden;
}

section.skills .progressBar>.progress {
    height: 100%;
    background-color: #E6686A;
    width: 70%;
    border-radius: 2px;
    transform: translateX(0);
    transition: all 1s;
}

section.skills.offset .progress {
    transform: translateX(-100%);
}

section.portfolio {
    text-align: center;
    margin-bottom: 100px;
    max-width: 720px;
}

section.portfolio h2 {
    margin-bottom: 32px;
}

section.portfolio .swiper-container {
    width: 668px;
    height: 501px;
    overflow: hidden;
}


/* section.portfolio .swiper-button-prev,
section.portfolio .swiper-button-next {
    background-color: white;
    width: 64px;
    height: 64px;
    right: 100%;
    left: auto;
    border-radius: 50%;
}

section.portfolio .swiper-button-next {
    left: 100%;
    right: auto;
} */

#formAndMessageList {
    margin-bottom: 30px;
}

.basic-grey {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: white;
    padding: 25px 15px 25px 10px;
    font: 16px Georgia, "Times New Roman", Times, serif;
    text-shadow: 1px 1px 1px #FFF;
    border: 1px solid #E4E4E4;
}

.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    border-bottom: 1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;
    font-family: kai;
}

.basic-grey label {
    display: block;
    margin: 0px;
    font-family: kai;
}

.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.basic-grey input[type="text"],
.basic-grey input[type="email"],
.basic-grey textarea {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 16px;
    line-height: 15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

.basic-grey textarea {
    padding: 5px 3px 3px 5px;
    font-size: 20px
}

.basic-grey textarea {
    height: 100px;
}

.basic-grey .button {
    width: 72%;
    /* background: #E27575; */
    background: #2688C4;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}

.basic-grey .button:hover {
    /* background: #E6686A; */
    background: #007ACC
}

#messageList {
    padding: 0px 12px 0px 14px;
    background: #F7F7F7;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    border-top: 1px solid #DDD;
    list-style: none;
}

#messageList>li {
    padding: 16px;
    border-bottom: 1px solid #DDD;
    white-space: normal;
}