body {
    background: #EFEFEF;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

hr {
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}

ul,
ol {
    list-style: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.topNavBar {
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topNavBar-inner {
    padding-left: 16px;
    padding-right: 16px;
}

.topNavBar nav {
    padding-bottom: 1px;
    padding-top: 7px;
}

.topNavBar nav>ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topNavBar nav>ul>li {
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

.topNavBar nav>ul>li>a {
    font-size: 12px;
    color: #B7B7B7;
    font-weight: bold;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
}

.topNavBar nav>ul>li>a:hover {
    border-bottom: 3px solid #DC6465;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Arial Black";
    padding-bottom: 4px;
    padding-top: 3px;
}

.topNavBar .logo .rs {
    margin-right: 4px;
    color: #E6686A;
}

.topNavBar .logo .card {
    margin-left: 8px;
    color: #9A9DA2;
}

.banner {
    height: 515px;
    background-image: url(./img/moon.jpg);
    background-position: center center;
    background-size: cover;
}

.banner .mask {
    height: 515px;
}

.userCard {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCard .welcome {
    background: #E6686A;
    color: white;
    display: inline-block;
    padding: 5px 16px;
    line-height: 20px;
    position: relative;
    margin-bottom: 7px;
}

.userCard .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    widows: 0px;
    border-left-color: #E6686A;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}

.userCard .picture {
    float: left;
}

.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}

.userCard .text h1 {
    margin-top: 21px;
}

.userCard .text hr {
    margin: 20px 0;
}

.userCard .pictureAndText {
    padding: 50px;
}

.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}

.userCard dl dt {
    width: 30%;
    font-weight: bold;
}

.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}

.userCard>footer.media {
    background-color: #E6686A;
    text-align: center;
}

.userCard>footer.media>a {
    display: inline-block;
    width: 40px;
    line-height: 30px;
    padding: 5px 0;
    border-radius: 50%;
    margin: 16px;
}

.userCard>footer.media>a:hover {
    background: #CF5D5F;
}

.userCard svg {
    width: 30px;
    height: 30px;
    fill: white;
    vertical-align: top;
}

body>main {
    /*transform: translateY(-340px);*/
    margin-top: -340px;
}

body>main .downloadResumeWapper {
    text-align: center;
}

body>main .downloadResume {
    font-size: 18px;
    line-height: 16px;
    padding: 21px 55px;
    display: inline-block;
    background-color: #EFEFEF;
    border: 1px solid #cdcfd1;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 32px 0px;
    transition: box-shadow 0.5s;
}

body>main .downloadResume:hover {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}

.selfIntroduction {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    font-family: kai;
    line-height: 1.8;
}

section.skills,
section.portfolio {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

section.skills>h2,
section.portfolio>h2 {
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}

section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}

section.skills>ol {
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 42px 50px 10px;
    margin-top: 30px;
}

section.skills>ol>li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}

section.skills>ol>li:nth-child(even) {
    float: right;
}

section.skills .progressBar {
    height: 5px;
    background-color: #fae1e1;
    border-radius: 2px;
    margin: 4px 0 40px;
}

section.skills .progressBar>.progress {
    height: 5px;
    background-color: #E6686A;
    width: 70%;
    border-radius: 2px;
}

section.portfolio {
    text-align: center;
    margin-bottom: 100px;
}

section.portfolio>nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 30px;
}

section.portfolio>nav>ol {
    display: inline-block;
    vertical-align: top;
}

section.portfolio>nav>ol>li {
    float: left;
    margin-left: 40px;
    cursor: pointer;
}

section.portfolio>nav>ol>li:nth-child(1) {
    margin-left: 0;
}

section.portfolio>nav .bar {
    height: 5px;
    background: white;
    margin-top: 5px;
    border-radius: 2px;
}

section.portfolio>nav .bar-inner {
    height: 5px;
    background: #E6686A;
    width: 10%;
    border-radius: 2px;
    transition: all 0.5s;
}

section.portfolio>nav .bar.state-1 .bar-inner {
    margin-left: 0;
    width: 50px;
}

section.portfolio>nav .bar.state-2 .bar-inner {
    margin-left: 65px;
    width: 50px;
}

section.portfolio>nav .bar.state-3 .bar-inner {
    margin-left: 140px;
    width: 96px;
}

section.portfolio .works {
    position: relative;
}

section.portfolio .works>.big,
section.portfolio .works>.small {
    position: absolute;
}